{% extends 'features/main.html' %}

{% load static %}

{% block title %}Create an account{% endblock %}

{% block content %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'css/login.css' %}">
<!-- Login Page -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <div class="login-box">
    <div class="login-header">
      <header>Login</header>
    </div>
    <div class="input-box">
      <input type="text" class="input-field" placeholder="Username" autocomplete="off" required>
    </div>
    <div class="input-box">
      <input type="password" class="input-field" placeholder="password" autocomplete="off" required>
    </div>
    <div class="forgot">
      <section>
        <a href="#">Forgot Password?</a>
      </section>
    </div>
   <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="input-submit">
      <button class="submit-button" id="submit"></button>
      <label for="submit">Sign In</label>
    </div>
    </form>
    <div class="sign-up-link">
      <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</p>
    </div>
  
</body>
</html>

{% endblock %}
