{% extends 'features/main.html' %}

{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <div class="landing-page">
        <div class="container">
          <div class="info">
            <h1>WELCOME TO THE HEART DISEASE PREDICTION SYSTEM</h1>
            <p>Here you can predict the risk of a heart disease helping you know your outcome </p>
            <button><a href="login">Get Started</a></button>
          </div>
        </div>
    </div>
</body>
     
    
   


{% endblock %}
 
