.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.input-submit{
    position: relative;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
    
.submit-button{
    width:100px;
    height:50px;
    background:black;
    border:none;
    border-radius:30px;
    cursor:pointer;
    transition: .3s;
}
    
.input-submit label{
    position:absolute;
    top:45%;
    left:50%;
    color:white;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);;
    transform: translate(-50%,-50%);
}
    
.submit-button:hover{
    background: #333;
    transform: scale(1.05,1);
}
