.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.input-submit{
    position: relative;
}
.submit-button{
    width:100%;
    height:60px;
    background:black;
    border:none;
    border-radius:30px;
    cursor:pointer;
}
.submit-button label{
    position:absolute;
    top:45%;
    left:50%;
    color:white;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);;
    transform: translate(-50%,-50%);
}